.header {
  padding:10px;
  border-bottom: 1px solid #2F2F2F;
}

.header .header-logo {
  background-image: url('../../../assets/monomock.png');
  height: 28px;
  background-repeat: no-repeat;
  background-size: 150px;
}